<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
</body>
<script>
    function promiseFn(num, time = 500) {
        return new Promise((resolve, reject) => {
            setTimeout(() => {
                num ? resolve(`${num}, 成功`) : reject('失敗');
            }, time);
        });
    };


    //   promiseFn(1)
    //   .then(res => {
    //     console.log(res); // 1, 成功
    //     return promiseFn(2); // 鏈接第二次的 Promise 方法
    //   })
    //   .then(res => {
    //     console.log(res); // 2, 成功
    //   });
    async function getData2() {
        try { // 專注在成功
            const data1 = await promiseFn(1);
            const data2 = await promiseFn(0);
            console.log(data1, data2);
        }
        catch (err) { // 專注在錯誤
            console.log('catch', err);
        }
    }
    // getData2();
    async function a() {
      fetch('https://jsonplaceholder.typicode.com/todos/1')
      .then(res => console.log(res))
    }
    (async ()=> {
  // 取得遠端資源
  const res = await a();
  // 使用 response.json() 將資源轉為 JSON 格式
})();
</script>

</html>